# ============================================================
# OmniCheck Platform – .gitignore (Root)
# ============================================================

# Secrets
.env

# Java / Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.nar

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.angular/
npm-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# GraalVM Native
backend/target/backend
backend/target/*.so